html {
    background-color: lightskyblue;
}

.kaava{
    display: none;
}

.oikein {
    color: blue;
    background-color: green;
}

.väärin {
    color: yellow;
    background-color: red;
}

button {
    background-color: yellow;
    color: green;
}
